/* 重置fieldset（表单分组）、图片的边框为0*/
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
.app-content-body {
  padding-bottom: 0;
}
.list-ul .thumb {
  width: 0.52rem;
}
.text-xl {
  font-size: .36rem;
}
.text-lg {
  font-size: .58rem;
}
.text-md {
  font-size: .34rem;
}
.text-sm {
  font-size: .32rem;
}
.btn {
  font-size: .36rem;
}
.text-muted {
  font-size: .28rem;
  color: #757575;
}
.list-ul {
  padding-top: .22rem;
  margin-bottom: 0;
}
.list-ul .list_icon {
  margin: .19rem .19rem 0 0;
  width: 0.52rem;
}
.list-ul .tit {
  position: relative;
}
.list-ul .list_head {
  margin-bottom: .16rem;
  font-weight: 400;
  font-size: .32rem;
  color: #212121;
  display: inline-block;
  width: 80%;
  ext-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.list-ul .tit > i {
  position: absolute;
  right: 0;
  top: .01rem;
  font-size: .24rem;
  line-height: .28rem;
  color: #ff5722;
  border-radius: 5px;
  border: 1px solid #ff5722;
  padding: 0 2px;
  font-style: normal;
}
.list-ul .list_text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: .28rem;
  color: #757575;
  font-family: Athelas;
  line-height: 0.34rem;
  font-weight: 400;
}
.list-ul .list-group-item {
  border-right: none;
  border-left: none;
  padding: .28rem .4rem;
}
.list-ul .list-group-item:last-child {
  border-bottom: none;
}
.list-ul .list-group-item:first-child {
  border-top: none;
}
.navbar-collapse {
  z-index: -1;
  padding: 0;
}
.blog-post .wrapper {
  padding: .38rem .39rem;
}
.blog-post .text_head {
  color: #212121;
  font-family: Arial;
  font-size: .36rem;
  font-style: normal;
  font-stretch: normal;
  margin: 0;
  padding-bottom: .27rem;
  line-height: .41rem;
}
.blog-post .blog_text {
  color: #757575;
  font-family: Athelas;
  font-size: .28rem;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  line-height: .34rem;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #FF5722;
  border-color: #FF5722;
}
.blog-post .btn-danger {
  border-radius: 0;
  width: 3.66rem;
  /* height: .8rem; */
  background: #ff5722;
  color: #757575;
  font-family: Athelas;
  font-size: .36rem;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}
.free_times {
  font-size: .3rem;
  padding: .28rem 0 .1rem 0;
  margin: 0;
}
.circular {
  width: 2.64rem;
  height: 2.64rem;
  /* border: .07rem solid #FF5722; */
  border: .07rem solid #02dc1a;
  text-align: center;
  border-radius: 50%;
}
.circular_text {
  padding-top: .64rem;
}
.circular_text p {
  margin-bottom: .27rem;
}
.notes {
  font-size: .24rem;
  background-color: #211F1F;
  color: #1D2D3C;
  padding: .28rem 0;
  margin: 0;
}
.notes_text {
  line-height: .36rem;
  font-size: .28rem;
  padding-bottom: .28rem;
}
.text_indent p {
  text-indent: .3rem;
  margin: 0;
  line-height: .36rem;
}
.error_text p {
  margin: 0;
}
.exclamation_text {
  position: relative;
  padding-left: 1.4rem;
  padding-bottom: .4rem;
  padding-top: .4rem;
}
/*新的*/
.navbar-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1005;
}
.markets .panel {
  padding-bottom: 0;
}
.markets .wrapper {
  padding: 0;
}
.markets .padder-v {
  padding: .15rem 0 0  ;
}
.markets .m-t {
  margin-top: .18rem;
}
.markets .list-group {
  padding: .3rem .3rem 0rem .3rem;
  margin-left: -0.3rem;
}
.markets .list-group > li {
  position: relative;
  width: 2.1rem;
  height: 1.6rem;
  list-style: none;
  float: left;
  margin-left: .3rem;
  box-shadow: 1px 0px 13px 0px #dac1ba;
  margin-bottom: .45rem;
  font-family: Arial;
  font-size: .24rem;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  border-radius: 6px;
  padding: .2rem 0 0;
  text-align: center;
  background: #f3f3f3 ;
}
.markets .list-group > li:last-child .text {
  bottom: .32rem;
}
.markets .list-group > li img {
  width: .46rem;
}
.markets .list-group > li .text {
  position: absolute;
  bottom: .2rem;
  width: 100%;
}
.markets .list-group > li .text p {
  font-size: .24rem;
  height: .27rem;
  line-height: .27rem;
  margin: 0;
  font-weight: 700 ;
  color: #8d8d8d;
}
.markets .list-group > li.has-on {
  background: transparent;
}
.markets .list-group > li.has-on .mask {
  display: none;
}
.markets .list-group > li.has-on .text p {
  color: #FF5722;
}
/*
.nav_aside .list-group-item {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.nav_aside .list-group-item a {
    color: #757575;
    font-family: Arial;
    font-size: .32rem;
    font-style: normal;
    font-stretch: normal;
    font-weight: bold;
}
*/
.icon_exclamation {
  width: .5rem;
  position: absolute;
  top: 50%;
  left: .45rem;
  margin: auto;
  margin-top: -0.25rem;
}
.help_text {
  min-height: .88rem;
  font-family: Athelas;
  font-size: .34rem;
  padding-left: .5rem;
}
.help-block {
  color: #ff5722;
  font-family: Athelas;
  font-size: .32rem;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}
.form-group {
  margin-bottom: .41rem;
}
.form-group input {
  box-shadow: inset 0 0.07rem 0.03rem 0 rgba(0, 0, 0, 0.11);
  /*box-shadow:inset 0 7px 3px 0 rgba(0, 0, 0, .11);*/
}
.form-group input:focus {
  box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.5), inset 0 0.07rem 0.03rem 0 rgba(0, 0, 0, 0.11);
  outline: 0;
  -webkit-box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.5), inset 0 0.07rem 0.03rem 0 rgba(0, 0, 0, 0.11);
  border: 1px solid #ccc;
}
.stage {
  padding-top: .88rem;
}
.stage_footer {
  position: absolute;
  bottom: 1rem;
  z-index: 1;
  width: 100%;
}
.big_text {
  font-size: .69rem;
  padding: 0 .8rem;
  line-height: .76rem;
  margin-bottom: .25rem;
  font-family: Oswald;
  word-spacing: .1rem;
}
.sm_text {
  font-size: .28rem;
  /*padding: 0 1rem;*/
  color: #3F2B29;
  line-height: .36rem;
  font-family: Athelas;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 200px !important;
}
.bg_1 {
  background: url("../img/BitmapNormal.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg_2 {
  background: url("../img/bg_3.png") no-repeat;
  background-size: 100%;
  background-position: center top;
}
.bg_3 {
  background: url("../img/bg_2.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.bg_4 {
  background: url("../img/bg_1.png") no-repeat;
  background-size: auto 100%;
  background-position: center center;
  background-color: #f3f7fb;
}
.bg_5 {
  background: url("../img/bg_5.jpg") no-repeat;
  background-size: 100% 100%;
}
.wrapper {
  padding: .2rem .4rem .4rem;
}
.robot {
  font-size: .58rem;
  font-family: Oswald;
  line-height: .71rem;
  margin: .62rem 0 .51rem 0;
  color: #D8D8D8;
}
.loading {
  z-index: 19891015;
  background-color: #ffffff;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: auto;
}
.loading-gif {
  width: 60px;
  height: 47px;
  background: url('../img/loading-0.gif') no-repeat;
  position: absolute;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
/*loyin*/
.navbar-header > button {
  background: #ff5722;
  padding: 0;
  border-radius: .09rem;
  width: .74rem;
  height: .69rem;
  line-height: .69rem;
  margin-top: .155rem;
  margin-right: .155rem;
}
.navbar-header > button img {
  display: inline-block;
}
.bg_1 .bg-1-btn {
  margin-top: .59rem;
}
.bg_1 .bg-1-btn button {
  width: 3.03rem;
  height: .7rem;
  line-height: .7rem;
  background: #ff5722;
  border-radius: .31rem;
  color: #fff;
  font-size: .34rem;
  border: none;
}
.articleItem .mt {
  padding-top: 1.5rem;
  text-align: center;
}
.articleItem .mt img {
  width: 3.9rem;
  height: 2.8rem;
}
.articleItem .mt p {
  color: #212121;
  font-family: Arial;
  font-size: .32rem;
  font-style: normal;
  font-stretch: normal;
  font-weight: bolder;
  box-shadow: 1px 2px 3px #ffffff;
  margin: 1.04rem 0 .66rem;
}
.articleItem .mc {
  margin-bottom: .95rem;
}
.articleItem .mc p {
  color: #757575;
  font-family: Athelas;
  font-size: .24rem;
  line-height: .36rem;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
}
.articleItem .mb a {
  display: block;
  margin: 0 auto;
  border-radius: .13rem;
  width: 3.82rem;
  height: .82rem;
  line-height: .82rem;
  background: #fd5739;
  color: #ffffff;
  font-family: Arial;
  font-size: .32rem;
  text-align: center;
  box-shadow: 1px 0.07rem 0.2rem -0.03rem rgba(253, 87, 57, 0.47);
}
.wrapper {
  padding-bottom: 1.5rem !important;
}
.wrapper.nfooter {
  padding-bottom: .4rem!important;
}
.wrapper.b-t {
  padding-top: .46rem !important;
}
.footer {
  position: fixed;
  width: 100%;
  height: 1rem;
  bottom: 0;
  left: 0;
  background: #f5f5f5;
}
.footer > ul {
  overflow: hidden;
  padding: 0;
}
.footer li {
  width: 33.3%;
  float: left;
  list-style: none;
}
.footer li.active a {
  color: #fd5739;
}
.footer a {
  text-align: center;
  display: block;
  height: 1rem;
  color: #8c8d99;
}
.footer a img {
  height: .4rem;
  margin: .16rem auto .05rem;
}
.footer a p {
  font-size: .24rem;
}
.lacktime .wrapper {
  padding-bottom: .35rem !important;
}
.lacktime .mt {
  border: 0.62px solid rgba(0, 36, 100, 0.01);
  box-shadow: 0 0.1rem 0.25rem -0.05rem rgba(0, 36, 100, 0.3);
  padding: .37rem .1rem ;
  margin-bottom: .15rem;
}
.lacktime .mt .mt-icon {
  width: .55rem;
  margin: 0 auto .17rem;
  display: block;
}
.lacktime .mt p {
  font-size: .25rem;
  text-align: center;
  line-height: .36rem;
  color: #FF5722;
  font-weight: bold;
  margin: 0;
}
.lacktime .mc {
  margin-top: .37rem;
}
.lacktime .mc.mc1 {
  padding-bottom: .52rem;
  border-bottom: 1px solid #EFF0F1;
}
.lacktime .mc.mc2 {
  padding-bottom: .35rem;
}
.lacktime .mc .tit {
  font-family: Athelas;
  font-weight: bold;
  font-size: .32rem;
  color: #1D2D3C;
}
.lacktime .mc .ptxt {
  margin: .2rem 0 0;
  font-family: Athelas;
  font-size: .28rem;
  line-height: .3rem;
}
.lacktime .mc .ptxt2 {
  margin: .07rem 0 0;
  color: #7A7A7A;
  font-size: .24rem;
  line-height: .3rem;
  font-family: Athelas;
}
.lacktime .mc .ptxt2 span {
  color: #FF5722;
}
.lacktime .mc .ptxt3 {
  margin: .11rem 0 .07rem;
  font-family: Athelas;
  font-size: .28rem;
  line-height: .37rem;
}
.lacktime .mc .ptxt4 {
  margin: 0;
  color: #757575;
  font-size: .24rem;
  line-height: .37rem;
  font-family: Athelas;
  letter-spacing: -0.004rem;
}
.lacktime .mc .ptxt4 span {
  color: #FF5722;
}
.lacktime .mc table {
  font-family: Arial;
  margin-top: .09rem;
  width: 100%;
  border: 1px solid #979797;
  border-color: #979797 !important;
}
.lacktime .mc table td {
  height: .7rem;
  line-height: .7rem;
  text-align: center;
  font-size: .18rem;
  color: #757575;
  border-color: #979797 !important;
  font-family: Arial;
}
.lacktime .mc table td p {
  margin: 0;
  line-height: .25rem;
  font-family: Arial;
}
.lacktime .mb {
  overflow: hidden;
}
.lacktime .mb .fl {
  float: left;
  width: .5rem;
}
.lacktime .mb .fl img {
  margin-top: .23rem;
  width: .5rem;
}
.lacktime .mb .txt {
  margin-left: .66rem;
  font-size: .19rem;
  line-height: .32rem;
  color: #FF5722;
  font-weight: bold;
}
.haslogin {
  padding-top: .65rem;
}
.haslogin .name {
  font-weight: bold;
  font-family: Arial;
  font-size: .36rem;
  margin-bottom: .25rem;
}
.haslogin a {
  display: block;
  font-weight: bold;
  font-size: .36rem;
  font-family: Arial;
  margin-bottom: .25rem;
}
.haslogin a.logout {
  color: #FF5722;
}
.banner img {
  width: 100%;
}
.mediaItem .wrapper {
  padding: 0;
}
.mediaItem .mt {
  padding: .26rem .26rem;
}
.mediaItem .mt ul {
  overflow: hidden;
  padding: 0;
  margin-left: -0.19rem;
}
.mediaItem .mt li {
  width: 1.6rem;
  height: .53rem;
  line-height: .53rem;
  float: left;
  list-style: none;
  margin-left: .19rem;
  text-align: center;
  border-radius: 4px;
  background: #f3f3f3;
  font-size: .24rem;
  color: #919191;
  font-family: Arial;
}
.mediaItem .mt li.on {
  background: #FF5722;
  color: #fff;
}
.mediaItem .mc ul {
  padding: 0;
}
.mediaItem .mc ul > li {
  list-style: none;
  overflow: hidden;
  background: url("../img/shadowbg.png") no-repeat;
  background-size: 100% auto;
  background-position: top;
}
.mediaItem .mc ul > li .img-box {
  width: 2.85rem;
  height: 1.94rem;
  float: left;
}
.mediaItem .mc ul > li .img-box img {
  width: 100%;
  height: 100%;
}
.mediaItem .mc ul > li .txt-box {
  margin-left: 2.85rem;
  padding: .32rem .32rem 0 .2rem;
}
.mediaItem .mc ul > li .txt-box p {
  font-family: Athelas;
  font-size: .32rem;
  line-height: .38rem;
  color: #000;
  ext-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: .3rem;
  height: .76rem;
}
.mediaItem .mc ul > li .txt-box .userinfo {
  color: #919191;
  font-family: Arial;
  font-size: .22rem;
}
.mediaItem .mc ul > li .txt-box .userinfo img {
  width: .17rem;
  margin-right: .1rem;
  vertical-align: baseline;
}
.mediaItem .mc ul > li .txt-box .userinfo span {
  margin-right: .1rem;
}
.mediaItem .mc ul > li.opts {
  border: none;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  background: transparent;
}
.mediaItem .mc ul > li.opts .loadingGif {
  width: .5rem;
  vertical-align: middle;
}
.mediaItem .mc ul > li.opts .moreImg {
  width: .26rem;
}
.mediaItem .mc ul > li.opts span {
  margin-left: .15rem;
  font-family: "PingFang SC";
  font-size: .28rem;
  color: #000;
}
.mediaDetail .wrapper {
  padding: 0 ;
  padding-bottom: 1rem !important;
}
.mediaDetail .mt {
  padding: .35rem .3rem .28rem;
  border-bottom: 1px solid #EFF0F1;
}
.mediaDetail .mt .tit {
  font-size: .32rem;
  color: #000;
  line-height: .38rem;
  font-family: Athelas;
}
.mediaDetail .mt .userinfo {
  color: #919191;
  font-family: Arial;
  font-size: .22rem;
}
.mediaDetail .mt .userinfo img {
  width: .17rem;
  margin-right: .1rem;
  vertical-align: baseline;
}
.mediaDetail .mt .userinfo span {
  margin-right: .1rem;
}
.mediaDetail .mc {
  padding: .2rem .3rem;
}
.mediaDetail .mc p {
  font-family: Athelas;
  font-size: .28rem;
  color: #757575;
  line-height: .34rem;
  letter-spacing: 0.007rem;
  margin-bottom: .3rem;
}
.mediaDetail .mb {
  text-align: center;
  margin-bottom: .5rem;
}
.mediaDetail .mb button {
  width: 3rem;
  height: .58rem;
  border: none;
  border-radius: 4px;
  margin: 0 .05rem;
}
.mediaDetail .mb button span {
  width: 2.44rem;
  display: inline-block;
  ext-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: left;
  font-size: .24rem;
}
.mediaDetail .mb button.btn-prev {
  color: #919191;
  padding-left: .49rem;
  background: #f3f3f3 url("../img/prev.png") no-repeat;
  background-size: .13rem .22rem;
  background-position: .12rem center;
}
.mediaDetail .mb button.btn-next {
  padding-right: .49rem;
  background: #ff5722 url("../img/next.png") no-repeat;
  background-size: .13rem .22rem;
  background-position: 2.7rem center;
  color: #fff;
}
.costList .wrapper,
.rechargeList .wrapper {
  padding: 0;
}
.costList .mt,
.rechargeList .mt {
  padding: .3rem;
  border-bottom: 1px solid #EFF0F1;
}
.costList .mt p,
.rechargeList .mt p {
  font-size: .48rem;
  color: #000;
  font-family: Arial;
  line-height: .53rem;
  margin: 0;
}
.costList .mc ul,
.rechargeList .mc ul {
  padding: 0;
}
.costList .mc ul li,
.rechargeList .mc ul li {
  overflow: hidden;
  list-style: none;
  padding: 0 0 0 .3rem;
}
.costList .mc ul .icon-box,
.rechargeList .mc ul .icon-box {
  float: left;
  width: .42rem;
  height: 1.1rem;
  line-height: 1.1rem;
}
.costList .mc ul .icon-box img,
.rechargeList .mc ul .icon-box img {
  width: .42rem;
  height: .42rem;
}
.costList .mc ul .txt-box,
.rechargeList .mc ul .txt-box {
  margin-left: .6rem;
  padding: 0.2rem 1rem 0 0;
  position: relative;
  border-bottom: 1px solid #EFF0F1;
}
.costList .mc ul .txt-box .title,
.rechargeList .mc ul .txt-box .title {
  color: #212121;
  font-family: Arial;
  font-size: .26rem;
  line-height: .32rem;
  ext-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.costList .mc ul .txt-box .time,
.rechargeList .mc ul .txt-box .time {
  font-family: Arial;
  color: #919191;
  font-size: .24rem;
  line-height: .24rem;
}
.costList .mc ul .txt-box .price,
.rechargeList .mc ul .txt-box .price {
  color: #FF5722;
  font-size: .32rem ;
  line-height: .36rem;
  font-family: Arial;
  position: absolute;
  right: .25rem;
  top: .45rem;
}
.costList .mc ul .opts,
.rechargeList .mc ul .opts {
  border: none;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
}
.costList .mc ul .opts .loadingGif,
.rechargeList .mc ul .opts .loadingGif {
  width: .5rem;
  vertical-align: middle;
}
.costList .mc ul .opts .moreImg,
.rechargeList .mc ul .opts .moreImg {
  width: .26rem;
}
.costList .mc ul .opts span,
.rechargeList .mc ul .opts span {
  margin-left: .15rem;
  font-family: "PingFang SC";
  font-size: .28rem;
  color: #000;
}
.opts.list-group-item {
  font-size: .28rem;
}
.opts.list-group-item img {
  height: .28rem;
  margin-right: 10px;
}
.b-bg {
  background: #000 !important;
}
.selectPage .wrapper {
  padding: .27rem .17rem 1.39rem !important;
}
.selectPage .select-wrap > ul {
  padding: 0;
  overflow: hidden;
  margin-left: -0.08rem;
}
.selectPage .select-wrap li {
  margin-left: .08rem;
  float: left;
  margin-bottom: 0.09rem;
}
.selectPage .select-wrap li a {
  display: block;
  width: 1.368rem;
  height: .98rem;
  text-align: center;
  border-radius: .06rem ;
  font-family: Arial;
  background: #17191d;
  color: #90a1b7;
}
.selectPage .select-wrap li a > i {
  margin: .11rem 0 .09rem;
  display: inline-block;
}
.selectPage .select-wrap li a > i img {
  width: .5rem;
  height: .5rem;
}
.selectPage .select-wrap li a p {
  font-size: .16rem;
  line-height: .18rem;
}
.selectPage .select-wrap li.select a {
  border: 1px solid #ff5722;
  background: transparent;
}
.selectPage .btn-danger {
  border-radius: .09rem;
  padding: .19rem 0;
  height: auto;
}
.selectPage .btn-danger i {
  vertical-align: middle;
}
.selectPage .btn-danger span {
  font-size: .36rem;
  font-family: Arial;
  margin-left: .1rem;
  height: .4rem;
  line-height: .4rem;
  vertical-align: middle;
}
.selectPage .free_times {
  padding-bottom: 0.31rem;
}
.comparePage .wrapper {
  padding: 0 !important;
}
.comparePage h3.tit {
  margin: 0;
  background: #272626;
  color: #ffffff;
  font-family: Arial;
  padding: .3rem;
  font-size: .32rem;
  font-weight: 700;
  text-align: center;
  line-height: .37rem;
}
.comparePage .info {
  background: #211f1f;
  padding: .25rem .22rem .23rem;
  display: flex;
  justify-content: space-around;
}
.comparePage .info > a {
  color: #9b9b9b;
  font-style: italic;
  font-size: .18rem;
  line-height: .21rem;
  letter-spacing: 0.014rem;
}
.comparePage .info > a i {
  height: .18rem;
}
.comparePage .info > a i img {
  height: .18rem;
}
.comparePage .name {
  background: #272626;
  font-size: .32rem;
  font-weight: 700;
  color: #ffffff;
  line-height: .37rem;
  text-align: center;
  padding: .28rem 0 .31rem;
  margin-top: .2rem;
}
.comparePage .notes {
  background: #211f1f;
  padding: .32rem .44rem .22rem;
  color: #efeded;
  font-family: Athelas;
  font-size: .28rem;
  line-height: .36rem;
  margin-bottom: .2rem;
}
.comparePage .notes p {
  margin: 0;
}
.comparePage .warning {
  position: relative;
  padding: .37rem .46rem .35rem;
  background: #211f1f;
  margin-top: .21rem;
}
.comparePage .warning > i {
  position: absolute;
  top: 50%;
  left: .77rem;
  display: inline-block;
  margin-top: -0.25rem;
}
.comparePage .warning > i img {
  width: .5rem;
  height: .5rem;
}
.comparePage .warning .warnings {
  margin-left: 1.26rem;
  color: #ff5722;
  font-family: Arial;
  font-size: .19rem;
  font-weight: 700;
  line-height: .32rem;
}
.comparePage .lists {
  display: flex;
  justify-content: space-between;
  padding: .49rem .26rem .5rem;
  background: #211F1F;
  margin-bottom: .19rem;
}
.comparePage .lists .item a {
  width: 1.62rem;
  height: .52rem;
  line-height: .52rem;
  display: block;
  border: 1px solid #c8c7c7;
  text-align: center;
  color: #fff;
  font-size: .24rem;
  border-radius: .04rem;
}
.comparePage .lists .item.selected a {
  border: none;
  background: url("../img/btn-risk.png") no-repeat;
  background-size: 100% 100%;
}
.comparePage .faqs {
  background-color: #211F1F;
  padding: .24rem 0 .3rem .4rem;
}
.comparePage .faqs ul {
  background-color: #211F1F;
  margin: 0;
  padding: 0;
}
.comparePage .faqs li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: .1rem 0 .15rem;
}
.comparePage .faqs li:last-child {
  border-bottom: none;
}
.comparePage .faqs li p {
  padding-right: .3rem;
}
.comparePage .faqs li .q {
  font-size: .19rem;
  line-height: .32rem;
  color: #fff;
  font-weight: bold;
  margin: 0;
}
.comparePage .faqs li .a {
  font-size: .19rem;
  line-height: .32rem;
  color: #9f9e9e;
  font-family: "Arial";
  font-weight: bold;
}
.comparePage .echartI {
  padding: .25rem 0 .45rem ;
}
.indiceDPage .blog_text {
  margin-bottom: .7rem;
}
.indiceDPage .btn-danger {
  border-radius: .09rem;
  padding: .19rem 0;
  height: auto;
}
.indiceDPage .btn-danger i {
  vertical-align: middle;
}
.indiceDPage .btn-danger span {
  font-size: .36rem;
  font-family: Arial;
  margin-left: .1rem;
  height: .4rem;
  line-height: .4rem;
  vertical-align: middle;
}
.indiceDPage .free_times {
  padding-bottom: 0.31rem;
}
.riskDPage .btn-danger {
  border-radius: .09rem;
  padding: .19rem 0;
  height: auto;
}
.riskDPage .btn-danger i {
  vertical-align: middle;
}
.riskDPage .btn-danger span {
  font-size: .36rem;
  font-family: Arial;
  margin-left: .1rem;
  height: .4rem;
  line-height: .4rem;
  vertical-align: middle;
}
.riskDPage .free_times {
  padding-bottom: 0.31rem;
}
.wrapper.l-version {
  padding-top: .4rem !important;
  padding-bottom: .39rem !important;
  width: 100%;
  position: fixed;
  bottom: 1rem;
  font-size: .26rem;
  color: #212121;
  background: #fff;
}
.wrapper.l-version.l-version-d {
  bottom: 0;
}
.wrapper.l-version.b-bg {
  border-color: #6d6d6d;
  color: #b2b2b2;
}
img {
  max-width: 100%;
}
.owl-controls {
  display: none;
}
