<div class="bg-light lter b-b wrapper-xl padder-v-sm clearfix">
    <ul class="breadcrumb pull-left">
        <li class="b-l b-l-5x b-l-success padder m-t-xs">
            <span class="text-muted">应用列表</span>
        </li>
    </ul>
    <button class="btn btn-sm btn-default pull-right w-xs" ng-click="reflushAll()">
        <i class="fa fa-refresh"></i>
        <span> 刷新</span>
    </button>
</div>

<div class="wrapper-xl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-search"></i>
            <span class="v-bottom">筛选查询</span>
        </div>
        <div class="panel-body clearfix">
            <div class="inline padder-lg">
                <label class="m-r-sm">应用编号:</label>
                <input type="text" class="input-sm form-control w-sm inline v-middle" ng-model="search.appnumber" placeholder="请输入应用编号">
            </div>
            <div class="inline padder-lg">
                <label class="m-r-sm">应用名称:</label>
                <input type="text" class="input-sm form-control w-sm inline v-middle" ng-model="search.appname" placeholder="请输入应用名称">
            </div>
            <div class="pull-right">
                <button class="btn btn-sm btn-default w-xs" type="button" ng-click="selectPage(0)">查询结果</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left" style="padding-top: 5px">
                <i class="fa fa-list "></i>
                <span class="v-bottom">应用列表</span>
            </div>
            <div class="pull-right">
                <button class="btn btn-sm btn-default m-l w-xs" type="button" security-html security-id="5b30c9328d6a72c52a9e8558" ui-sref="app.application.save">添加
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered  b-t b-light text-center">
                <thead style="background-color: #F9FAFC">
                <tr>
                    <th class="text-center">应用编号</th>
                    <th class="text-center">应用名称</th>
                    <th class="text-center">开发者</th>
                    <!-- <th class="text-center">使用次数</th> -->
                    <!-- <th class="text-center">版本号</th> -->
                    <th class="text-center">应用类型</th>
                    <!-- <th class="text-center">更新时间</th> -->
                    <th class="text-center">发布时间</th>
                    <th class="text-center">状态</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.author}}</td>
                    <!-- <td>{{item.useCount}}</td> -->
                    <!-- <td>{{item.appversion}}</td> -->
                    <td ng-if="item.type == 0">官方</td>
                    <td ng-if="item.type == 1">第三方</td>
                    <!-- <td>{{item.releaseTime | date:'yyyy-MM-dd HH:mm:ss'}}</td> -->
                    <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td class="text-success" ng-if="item.status==1">上架</td>
                    <td class="text-success" ng-if="item.status==0">下架</td>
                    <td>
                        <a ng-if="item.type == 0" security-html security-id="5b30c9328d6a72c52a9e8559" class="m-l-xs m-r-xs text-success" ng-click="editapp(item)">编辑</a>
                        <a ng-if="item.type == 1" security-html security-id="5b30c9328d6a72c52a9e8559" class="m-l-xs m-r-xs text-success" ui-sref="app.application.editother({id:item.id})">编辑</a>
                        <a ng-if="item.id==20181205001" class="m-l-xs m-r-xs text-success" ui-sref="app.application.indexConfig">配置</a>
                        <a security-html security-id="5b30c9328d6a72c52a9e855a" class="m-l-xs m-r-xs text-success" ng-click="shelf(item)" ng-if="item.status==0">上架</a>
                        <a security-html security-id="5b30c9328d6a72c52a9e855b" class="m-l-xs m-r-xs text-success" ng-click="dropoff(item)" ng-if="item.status==1">下架</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <footer class="panel-footer">

            <div class="m-t-sm text-right">
                <pagination total-items="totalElements" ng-model="number" max-size="5" items-per-page="size"
                            class="pagination-sm m-t-none m-b"
                            boundary-links="true" rotate="false" num-pages="totalPages"></pagination>
            </div>
        </footer>
    </div>
</div>