<div class="bg-light lter b-b wrapper-xl padder-v-sm clearfix">
    <ul class="breadcrumb pull-left">
        <li class="b-l b-l-5x b-l-success padder m-t-xs">
            <span class="text-muted">{{title}}模板</span>
        </li>
    </ul>
    <button class="btn btn-sm btn-default pull-right" ng-click="goback()">
        <i class="fa fa-refresh"></i>
        <span>返回</span>
    </button>
</div>

<div class="wrapper-xl">
    <div class="panel panel-default">
        <div class="panel-heading">新增模板</div>
        <div class="panel-body">
            <form class="form-horizontal w-auto-xs" style="width: 900px;margin: 0 auto">
                <div class="form-group">
                    <div class="pull-left w-full-2">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            模板名称：
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="item.name" class="form-control"  placeholder="请输入模板名称">
                            <span class="help-block text-danger text-xs" ng-show="!validate.name">模板名称不能为空!</span>
                        </div>
                    </div>
                    <div class="pull-left w-full-2">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            价格数量：
                        </label>
                        <div class="col-sm-7">
                            <select type="text" ng-model="item.priceCount" ng-change="priceCountChange()" class="form-control" placeholder="请选择价格数量">
                                <option value="">请选择价格数量</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <span class="help-block text-danger text-xs" ng-show="!validate.priceCount">价格数量不能为空!</span>
                        </div>
                    </div>
                </div>
                <div id="priceConfig" class="form-group">
                    
                </div>
                <div  class="form-group">
                        <div class="pull-left w-full-2">
                                <label class="col-sm-4 control-label">
                                    <!-- <em class="text-danger">*</em>
                                    模板名称： -->
                                </label>
                                <div class="col-sm-7">
                                    <input type="hidden"  class="form-control"  placeholder="请输入模板名称">
                                    <span class="help-block text-danger text-xs" ng-show="!validate.priceConfig">价格配置不能为空!</span>
                                </div>
                            </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success w-sm" ng-click="save()">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>