<div class="navbar-header box-shadow-lg {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs text-danger" id="btn" ui-sref="app.home">
        <!--<i class="inline text " style="width: .38rem">-->
        <!--<img src="img/GroupNormal.png" alt="" class="img-responsive">-->
        <!--</i>-->
        <i class="inline" style="width:.4rem;">
            <img src="img/back.png" alt="" class="img-responsive">
        </i>
    </button>
    <!-- brand -->
    <a ui-sref="app.home" class="navbar-brand" style="font-size:15px;">
        <span class="">
            <img src="img/logo.png" alt="." class=>
        </span>
        <!--<span class="hidden-folded m-l-xs" style="font-style:italic;">{{app.name}}</span>-->
    </a>
    <!-- / brand -->
</div>
<div class="wrapper nfooter">
    <h2 class="h2 text-lg font-bold" style="padding: .25rem 0">Register</h2>
    <div class="help_text  text-danger text-md">
        <p ng-show='Errorstate.erroremail'>• Invalid Email</p>
        <p ng-show='Errorstate.difference'>• The password and confirmation password must be the same</p>
        <p ng-show="Errorstate.Wrongpassword">• Password must have at least one alphanumeric character</p>
        <p ng-show="Errorstate.Wrongpassword">• Password must have at least one (‘A’ ‘Z’)</p>
    </div>
    <form class="text-sm" ng-submit="save()">
        <div class="form-group">
            <label for="" class="">Email</label>
            <input type="text" class="form-control input-lg" ng-model="item.email" ng-blur="emailInput()">
        </div>
        <div class="form-group">
            <label for="" class="">Password</label>
            <input type="password" class="form-control input-lg " ng-model="item.password" ng-blur="passwordInput()">
        </div>
        <div class="form-group">
            <label for="" class="">Confirm password</label>
            <input type="password" class="form-control input-lg " ng-model="item.repassword" ng-blur="fouseInput()">
        </div>
        <div class="padder-v-md">
            <button class="btn btn-lg btn-danger " type="submit" ng-disabled="checkFromVal()">Register</button>
        </div>
    </form>
</div>
<div class="wrapper b-t" style="font-size: .26rem;color:#212121 ">
    {{app.alphacatVersion}}
</div>
 <div class="footer" ng-controller="footerCtrl">
    <ul>
        <li>
            <a ui-sref="app.markets">
                <img src="img/markets.png" alt="">
                <!--<img src="img/markets.png" alt="">-->
                <p>Markets</p>
            </a>
        </li>
        <li>
            <a ui-sref="app.media">
                <img src="img/media.png" alt="">
                <p>Media</p>
            </a>
        </li>
        <li class="active">
            <a ng-click="goLogin()">
                <img src="img/me-a.png" alt="">
                <!--<img src="img/me.png" alt="" >-->
                <p>Me</p>
            </a>
        </li>
    </ul>
</div>