<div class="bg-light lter b-b wrapper-xl padder-v-sm clearfix">
    <ul class="breadcrumb pull-left">
        <li class="b-l b-l-5x b-l-success padder m-t-xs">
            <span class="text-muted">修改密码</span>
        </li>
    </ul>
    <!-- <button class="btn btn-sm btn-default pull-right w-xs">
        <i class="fa fa-refresh"></i>
        <span>刷新</span>
    </button> -->
</div>

<div class="wrapper-xl">
    <div class="panel panel-default">
        <div class="panel-heading">修改密码</div>
        <div class="panel-body">

            <form class="form-horizontal w-auto-xs"  style="width: 900px;margin: 100px auto">
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            用户名：
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" value="{{app.employeeT.loginName}}"  disabled>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            Email：
                        </label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" value="{{app.employeeT.email}}" disabled>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            旧密码：
                        </label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" ng-model="item.oldpassword" placeholder="输入旧密码">
                            <span class="help-block text-danger text-xs" ng-show="validate.oldpassword">旧密码不能为空!</span>                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            新密码：
                        </label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" ng-model="item.password" placeholder="输入新密码">
                            <span class="help-block text-danger text-xs" ng-show="validate.password">新密码不能为空!</span>                                                        
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            确认密码：
                        </label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" ng-model="item.repassword" placeholder="确认密码">
                            <span class="help-block text-danger text-xs" ng-show="validate.repassword">确认密码不能为空!</span>                                                        
                            <span class="help-block text-danger text-xs" ng-show="validate.repassword2">新密码和确认密码必须一样!</span>                                                        
                            
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success w-sm"  ng-click="save()">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>