<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col w bg-light dk b-r bg-auto">
        <div class="wrapper b-b bg" style="padding-left: 50px">
            <button class="btn btn-sm btn-default pull-right visible-sm visible-xs" ui-toggle-class="show"
                    target="#email-menu"><i class="fa fa-bars"></i></button>
            系统管理
        </div>
        <div class="hidden-sm hidden-xs" id="email-menu">
            <nav ui-nav class="navi bg-diy">
                <ul class="nav">
                    <li security-html security-id="5a279bf977c8b07d6e695121"  ui-sref-active="active">
                        <a ui-sref="app.system.list">
                            <span>• 系统管理员</span>
                        </a>
                    </li>
                    <li security-html security-id="5b30c9328d6a72c52a9e8560" ui-sref-active="active">
                    <!-- <li ui-sref-active="active"> -->
                        <a ui-sref="app.system.role">
                            <span>• 系统角色</span>
                        </a>
                    </li>
                    <!-- <li ui-sref-active="active">
                        <a ui-sref="app.system.set">
                            <span>• 系统设置</span>
                        </a>
                    </li> -->
                    <li ui-sref-active="active">
                        <a ui-sref="app.system.modify_password">
                            <span>• 修改密码</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col">
        <div ui-view class="animated fadeInRight"></div>
    </div>
</div>


