<div class="bg-light lter b-b wrapper-xl padder-v-sm clearfix">
    <ul class="breadcrumb pull-left">
        <li class="b-l b-l-5x b-l-success padder m-t-xs">
            <span class="text-muted">编辑角色</span>
        </li>
    </ul>
    <button class="btn btn-sm btn-default pull-right w-xs" ng-click="goback()">
        <i class="fa fa-mail-reply"></i>
        <span>返回</span>
    </button>
</div>

<div class="wrapper-xl">
    <div class="panel panel-default">
        <div class="panel-heading">编辑角色</div>
        <div class="panel-body">

            <form class="form-horizontal w-auto-xs" style="width: 900px;margin: 100px auto">
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            角色名：
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="item.roleName">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            角色描述：
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="item.roleDescription">
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success w-sm" ng-click="save()">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>