<div class="bg-light lter b-b wrapper-xl padder-v-sm clearfix">
    <ul class="breadcrumb pull-left">
        <li class="b-l b-l-5x b-l-success padder m-t-xs">
            <span class="text-muted">新增管理员</span>
        </li>
    </ul>
    <button class="btn btn-sm btn-default pull-right w-xs" ng-click="goback()">
        <i class="fa fa-mail-reply"></i>
        <span>返回</span>
    </button>
</div>

<div class="wrapper-xl">
    <div class="panel panel-default">
        <div class="panel-heading">添加管理员</div>
        <div class="panel-body">

            <form class="form-horizontal w-auto-xs" method="get" style="width: 900px;margin: 100px auto">
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            用户名：
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="item.loginName" placeholder="请输入用户名(登录名)">
                            <span class="help-block text-danger text-xs" ng-show="validate.loginName">用户名不能为空!</span>                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            姓名：
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="item.realname" placeholder="请输入姓名">
                            <span class="help-block text-danger text-xs" ng-show="validate.realname">姓名不能为空!</span>                            

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            邮箱地址：
                        </label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" ng-model="item.email" placeholder="请输入邮箱地址">
                            <span class="help-block text-danger text-xs" ng-show="validate.email">邮箱地址不能为空!</span>                            
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            所属角色：
                        </label>
                        <div class="col-sm-4">
                            <select ng-model="item.roleid" class="form-control" 
                                ng-select="item.roleid == role.id" 
                                ng-options="role.id as role.roleName for role in listAllRole" 
                                ng-readonly="true"
                                required>
                            </select>
                            <span class="help-block text-danger text-xs" ng-show="validate.roleid">所属角色不能为空!</span>                            
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-init="findAllRole();">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            登录密码：
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="item.password" placeholder="请输入登录密码">
                            <span class="help-block text-danger text-xs" ng-show="validate.password">登录密码不能为空!</span>                            

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            确认密码：
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="item.repassword" placeholder="确认密码">
                            <span class="help-block text-danger text-xs" ng-show="validate.repassword">确认密码不能为空!</span>   
                            <span class="help-block text-danger text-xs" ng-show="validate.repassword">密码和确认密码必须一样!</span>                                                        
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success w-sm" ng-click="save()">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>