<div class="navbar-header box-shadow-lg {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs text-danger"  id="btn" ng-click="gobackpage()">
        <!--<i class="inline text " style="width: .38rem">-->
        <!--<img src="img/GroupNormal.png" alt="" class="img-responsive">-->
        <!--</i>-->
        <i class="inline" style="width:.4rem;">
            <img src="img/back.png" alt="" class="img-responsive">
        </i>
    </button>
    <!-- brand -->
    <a ui-sref="app.home" class="navbar-brand" style="font-size:15px;">
        <span class="">
            <img src="img/logo.png" alt="." class=>
        </span>
        <!--<span class="hidden-folded m-l-xs" style="font-style:italic;">{{app.name}}</span>-->
    </a>
    <!-- / brand -->
</div>

<div class="wrapper to_predict">
    <div class="clearfix">
        <h3 class="h3 pull-left text-xl text-danger font-bold" style="padding-top: .1rem">{{tag}}</h3>
        <div class="pull-right text-danger text-right" style="font-size: .2rem">
            <!-- <p class="m-b-none"><span class="font-bold">DATE</span>:16/Apr/2018</p> -->
            <p class="m-b-none">
                <span class="font-bold">DATE:</span>{{time1}}</p>
            <p class="m-b-none">{{time2}}(UTC)</p>
        </div>
    </div>
</div>
<div class="eachts">
    <!--<div class="text-sm text-center font-bold">-->
    <!--Real-Time BTC Forecasting-->
    <!--</div>-->
    <div id="predict" style="height:400px; width: 100%"></div>
</div>
<div class="wrapper to_predict" style="padding-top: 0">
    <div class="text-center">
        <button id="flushforecast" class="btn btn-lg btn-danger" ng-click="forecast(true)">
            <i class="inline" style="width: .41rem">
                <img src="img/Page1Normal_3.png" alt="" class="img-responsive">
            </i>
            <span class="font-bold" style="font-size: .36rem;font-family: Arial;margin-left: .1rem;vertical-align: text-bottom;">{{forecastname}}</span>
        </button>

    </div>
    <p class="text-danger text-center free_times" style="font-size: .3rem;margin-bottom: 30px;">
        Free Times :
        <span>{{freecount}}</span>
    </p>
    <div class="clearfix wrapper">
        <div class="circular pull-left" ng-style="isgtzero">
            <div class="circular_text text-danger2" ng-style="textColotr">
                <p style="font-size: .24rem;margin-bottom: 5px">Average change</p>
                <p style="font-size: .56rem">{{averagechange}}%</p>
            </div>
        </div>
        <div class="circular pull-right" ng-style="isgtzero">
            <div class="circular_text text-danger2" ng-style="textColotr">
                <p style="font-size: .24rem;margin-bottom: 5px">Rise Probability</p>
                <p style="font-size: .56rem">{{RiseProbability}}%</p>
            </div>
        </div>
    </div>
    <div class="text-muted" style="font-family: Athelas;">
        <p class="notes">
            Notes
        </p>
        <div class="notes_text">
                <p>1.{{tag}} prices are quoted in US dollars.</p>
                <p>2.The initial vertical line indicates the forecasting time (UTC).</p>
                <p>3.The curve at the left side of the initial vertical line indicates the recent {{tag}} value within the last 60 seconds.</p>
                <p>4.There are three curves to the right of the initial vertical line. The middle curve indicates the most probabilistic forecasting {{tag}} prices in the 15, 30, and 45 minutes from current forecasting time. In addition, the probability for future trading prices ({{tag}} prices in 15, 30, and 45 minutes) also shows a 60% range between the upper and lower curves.</p>
                <p>5.The prediction of "Average Change" is the average percentage change in price, 15 minutes after the time forecasted.</p>
                <p>6.The prediction of "Rise Probability” is the likelihood that the price will rise 15 minutes after the time forecasted.</p>

            <!-- <p>1. {{tag}} prices are quoted in US Dollars.</p>
            <p>2. The initial vertical line indicates the forecasting time (UTC).</p>
            <p>3. The curve at the left side of the initial vertical line indicates the recent historical 1 min {{tag}} prices.</p>
            <p>4. The curve at the right side of the initial vertical line indicates the forecasting {{tag}} prices in 15 min,
                30 min and 45 min after the forecasting time.</p>
            <p>5. The prediction “Average Change” is an average % price change in 15 min after the forecasting time.</p>
            <p>6. The prediction “Rise Probability” is likelihood that the prices would rise in 15 min after the forecasting
                time.</p> -->
            <!-- <div class="text_indent">
                <p> 1) The middle curve: the three points represent the average price of the future 15 minutes, 30 minutes, and
                    45 minutes.</p>

                <p> 2) The upper curve: the three points represent the average price of the future 15 minutes, 30 minutes, and
                    45 minutes plus the average forecast deviation.</p>

                <p>3) The lower curves: the three points represent the average price of the future 15 minutes, 30 minutes, and
                    45 minutes minus the average forecast deviation.</p>
            </div> -->
        </div>
    </div>
    <div class="clearfix exclamation_text" style="font-family: Athelas;">
        <a href="" class="avatar icon_exclamation thumb ">
            <img src="img/icon_exclamation.png" alt="">
        </a>
        <div class=" text-danger error_text" style="font-size: .19rem;line-height: .32rem">
            <p>This information is neither a recommendation, an offer to sell nor solicitation of an offer to purchase any investment.
            </p>
            <p>You should take full responsibility for your own profits and losses.
            </p>
            <p>The Alphacat team shall have the final interpretation.</p>
        </div>
    </div>
</div>
<div class="wrapper b-t" style="font-size: .26rem;color:#212121 ">
    {{app.alphacatVersion}}
</div>