<div class="bg-light lter b-b wrapper-xl padder-v-sm clearfix">
    <ul class="breadcrumb pull-left">
        <li class="b-l b-l-5x b-l-success padder m-t-xs">
            <span class="text-muted">首页</span>
        </li>
    </ul>
    <button class="btn btn-sm btn-default pull-right w-xs">
        <i class="fa fa-refresh"></i>
        <span> 刷新</span>
    </button>
</div>

<div class="wrapper-xl" ng-controller="echarts">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">应用总览</div>
                <div class="panel-body text-center">
                    <div class="hbox">
                        <div class="col wrapper">
                            <div class="h2 m-b-xs text-danger">138</div>
                            <div class="h5">已下架</div>
                        </div>
                        <div class="col wrapper">
                            <div class="h2 m-b-xs text-danger">138</div>
                            <div class="h5">已下架</div>
                        </div>
                        <div class="col wrapper">
                            <div class="h2 m-b-xs text-danger">138</div>
                            <div class="h5">已下架</div>
                        </div>
                        <div class="col wrapper">
                            <div class="h2 m-b-xs text-danger">138</div>
                            <div class="h5">已下架</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">用户总览</div>
                <div class="panel-body text-center">
                    <div class="hbox">
                        <div class="col wrapper">
                            <div class="h2 m-b-xs text-danger">138</div>
                            <div class="h5">已下架</div>
                        </div>
                        <div class="col wrapper">
                            <div class="h2 m-b-xs text-danger">138</div>
                            <div class="h5">已下架</div>
                        </div>
                        <div class="col wrapper">
                            <div class="h2 m-b-xs text-danger">138</div>
                            <div class="h5">已下架</div>
                        </div>
                        <div class="col wrapper">
                            <div class="h2 m-b-xs text-danger">138</div>
                            <div class="h5">已下架</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">用户总览</div>
        <div class="hbox hbox-auto-xs">
            <div class="col wrapper-lg w ">
                <div class="m-b-lg">
                    <span>本月用户总数</span>
                    <h3 class="h3">10000</h3>
                    <div class="">
<span class="text-success">
<i class="fa  fa-sort-up v-middle"></i>
10%
</span>
                        <span class="text-muted">同比上周</span>
                    </div>
                </div>
                <div class="m-b-lg">
                    <span>本月用户总数</span>
                    <h3 class="h3">10000</h3>
                    <div class="">
<span class="text-danger">
<i class="fa  fa-sort-down v-top"></i>
10%
</span>
                        <span class="text-muted">同比上周</span>
                    </div>
                </div>
            </div>
            <div class="col wrapper b-l">
                <div id="echarts_user" style="height:400px; width: 100%"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">用户总览</div>
        <div class="hbox hbox-auto-xs">
            <div class="col wrapper-lg w ">
                <div class="m-b-lg">
                    <span>本月用户总数</span>
                    <h3 class="h3">10000</h3>
                    <div class="">
<span class="text-success">
<i class="fa  fa-sort-up v-middle"></i>
10%
</span>
                        <span class="text-muted">同比上周</span>
                    </div>
                </div>
                <div class="m-b-lg">
                    <span>本月用户总数</span>
                    <h3 class="h3">10000</h3>
                    <div class="">
<span class="text-danger">
<i class="fa  fa-sort-down v-top"></i>
10%
</span>
                        <span class="text-muted">同比上周</span>
                    </div>
                </div>
            </div>
            <div class="col wrapper b-l">
                <div id="echarts_visit" style="height:400px; width: 100%"></div>
            </div>
        </div>
    </div>
</div>
