<div class="bg-light lter b-b wrapper-xl padder-v-sm clearfix">
    <ul class="breadcrumb pull-left">
        <li class="b-l b-l-5x b-l-success padder m-t-xs">
            <span class="text-muted">系统信息</span>
        </li>
    </ul>
    <button class="btn btn-sm btn-default pull-right w-xs">
        <i class="fa fa-refresh"></i>
        <span> 刷新</span>
    </button>
</div>
<div class="wrapper-xl">
    <div class="panel panel-default">
        <div class="panel-heading">系统信息</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table  table-bordered  b-t b-light table-one">

                    <tbody>
                    <tr>
                        <td>服务器操作系统:</td>
                        <td>Centos 7</td>
                        <td>Web 服务器:</td>
                        <td>TOMCAT 7</td>
                    </tr>
                    <tr>
                        <td>JAVA 版本:</td>
                        <td>8.0</td>
                        <td>MySQL 版本:</td>
                        <td>5.5</td>
                    </tr>
                    <tr>
                        <td>IP 库版本:</td>
                        <td>20071024</td>
                        <td>文件上传的最大大小:</td>
                        <td>40M</td>
                    </tr>
                    <tr>
                        <td>程序版本:</td>
                        <td>v2.2.2 RELEASE 20170629</td>
                        <td>更新日期:</td>
                        <td>2017-05-02</td>
                    </tr>
                    <tr>
                        <td>编码:</td>
                        <td>UTF-8</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>