<div class="navbar-header box-shadow-lg {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs text-danger"  id="btn" ui-sref="app.markets">
        <i class="inline text " style="width: .38rem">
        <img src="img/GroupNormal.png" alt="" class="img-responsive">
        </i>
        <!--<i class="inline" style="width:.4rem;">-->
            <!--<img src="img/back.png" alt="" class="img-responsive">-->
        <!--</i>-->
    </button>
    <!-- brand -->
    <a ui-sref="app.home" class="navbar-brand" style="font-size:15px;">
        <span class="">
            <img src="img/logo.png" alt="." class=>
        </span>
        <!--<span class="hidden-folded m-l-xs" style="font-style:italic;">{{app.name}}</span>-->
    </a>
    <!-- / brand -->
</div>
<div id="dowebok" ng-controller="homeCtrl">
    <div class="bg bg_1 section">
        <div class="text-center stage">
            <div class="big_logo inline" style="width: 5.32rem">
                <img src="img/BitmapNormal_1.png" alt="" class="img-responsive">
            </div>
            <div class="text_artile">
                <p class="text-white robot" style="font-family: Oswald-light">
                    <span>ROBOT ADVISOR</span>
                    <br>
                    <span>MARKETPLACE</span>
                </p>
                <p class="" style="font-size: .45rem;color: #BFB0B5;line-height: .54rem;font-family: Oswald-light">
                    Powered by
                    <br>
                    AI & Big Data
                </p>
            </div>
            <div class="bg-1-btn">
                <button ng-click="golist(1)">Forecast</button>
            </div>
            <div ng-if="nologin" class="bg-1-btn">
                <button ng-click="goLogin(1)">Login</button>
            </div>
            <div ng-if="islogin" class="bg-1-btn">
                <button ng-click="goLogout(1)">Log out</button>
            </div>
            <!--<div class="stage_footer text-white">-->
            <!--<p style="font-size: .25rem">Version 1.1.0</p>-->
            <!--</div>-->
        </div>
    </div>
    <div class=" bg bg_2 section">
        <div class="text-center stage">
            <div class="big_logo inline" style="width: .99rem">
                <img src="img/BitmapNormal_2.png" alt="" class="img-responsive">
            </div>
            <div class="text_artile">
                <p class="big_text font-bold">
                    Powered by <br>AI & Big Data
                </p>
                <p class="sm_text">Alphacat Combines the Power of Artificial<br>Intelligence Big Data with Blockchain<br>Technology
                    and Digital Financial Markets.
                </p>
            </div>
        </div>
    </div>
    <div class=" bg bg_3 section">
        <div class="text-center stage">
            <div class="big_logo inline" style="width: .99rem;">
                <img src="img/BitmapNormal_3.png" alt="" class="img-responsive">
            </div>
            <div class="text_artile ">
                <p class="text-white big_text font-bold"
                   style="font-family: Oswald;padding: 0 .4rem;margin: .29rem 0 .27rem 0">
                    Awarded 4 patents
                    <br>
                    in FinTech
                </p>
                <p class="sm_text" style="color: #EAEAEA;padding: 0">
                    Competitive-edge technologies using <br> proven and patented trading algorithms.
                </p>
            </div>
        </div>
    </div>
    <div class=" bg bg_4 section">
        <div class="text-center stage">
            <div class="big_logo inline" style="width: 1.21rem;">
                <img src="img/BitmapNormal_5.png" alt="" class="img-responsive">
            </div>
            <div class="text_artile">
                <p class="big_text font-bold" style="color: #1B0401;">
                    Get your Edge
                    <br>
                    Trade Better
                </p>
                <p class="sm_text" style="color: #3F2B29;padding: 0">
                    Trade better with a robot-advisor prediction
                    <br>of the Cryptocurrency Markets.
                </p>
            </div>
        </div>
    </div>

    <div class=" bg bg_5 section">
        <div class="text-center stage">
            <div class="text_artile">
                <p class="text-white big_text" style="font-size: .96rem; line-height: 1rem;">
                    The Future
                    <br>
                    of
                    <br>
                    FinTech
                    <br>
                    is Here!
                </p>
            </div>
            <div class="stage_footer ">
                <!-- <p class="text-left  sm_text m-b-none"
                   style="font-size: .26rem;color: #ffffff;padding-left: .5rem;font-family: Arial">© 2018
                    Alphacat
                    V1.0.0</p> -->
            </div>
        </div>
    </div>
</div>



