<div class="bg-light lter b-b wrapper-xl padder-v-sm clearfix">
    <ul class="breadcrumb pull-left">
        <li class="b-l b-l-5x b-l-success padder m-t-xs">
            <span class="text-muted">{{pageTitle}}文章</span>
        </li>
    </ul>
    <button class="btn btn-sm btn-default pull-right w-xs" ui-sref="app.content.text">
        <i class="fa fa-mail-reply"></i>
        <span>返回</span>
    </button>
</div>

<div class="wrapper-xl">
    <div class="panel panel-default">
        <div class="panel-heading">{{pageTitle}}文章</div>
        <div class="panel-body">

            <form class="form-horizontal w-auto-xs" method="get" style="width: 900px;margin: 100px auto">
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            文章标题：
                        </label>
                        <div class="col-sm-4">
                            <input ng-model="item.title" required type="text" class="form-control" placeholder="请输入文章标题">
                            <span class="help-block text-danger text-xs" ng-show="!validate.title">文章标题不能为空!</span>
                            <span class="help-block text-danger text-xs" ng-show="!validate.titleSize">文章标题长度不能超过100!</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            文章来源：
                        </label>
                        <div class="col-sm-4">
                            <input ng-model="item.source" required type="text" class="form-control" placeholder="请输入文章来源">
                            <span class="help-block text-danger text-xs" ng-show="!validate.source">文章来源不能为空!</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            发布时间：
                        </label>
                        <div class="col-sm-4">
                            <div class="input-group">
                            <input type="text" class="form-control" ng-model="item.releasTime" datepicker-popup is-open="stimeOpened" disabled="disabled"
                                datepicker-options="dateOptions">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openstime($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </div>
                            <span class="help-block text-danger text-xs" ng-show="!validate.releasTime">发布时间不能为空!</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            <em class="text-danger">*</em>
                            文章类型：
                        </label>
                        <div class="col-sm-4">
                            <select ng-init="item.type=-1" type="text" class="form-control" ng-model="item.type" required placeholder="请选择文章类型">
                                <option value="-1">请选择文章类型 </option>
                                <option value="0"> Hot </option>
                                <option value="1"> News </option>
                                <option value="2"> FAQ </option>
                                <option value="3"> Blog </option>
                            </select>
                            <span class="help-block text-danger text-xs" ng-show="!validate.type">文章类型不能为空!</span>
                        </div>
                    </div>
                </div>
                <div ng-controller="uploader" class="m-t-lg  padder-v form-group">
                    <label class="col-sm-4 control-label">
                        <em class="text-danger">*</em>
                        图片：<br>（建议285*194）
                    </label>
                    <div upload-localimg upload-file="icon"ng-model="item.aimg"  class="col-sm-7">
                        <div class="thumb viewPic" style="width: 150px;height: 150px;">
                            <img src="img/add_img.png" alt="" class="">
                        </div>
                        <div class="inline v-bottom file_btn fileUpload">
                            <button class="btn btn-addon btn-sm btn-success" style="position: relative">
                                <i class="fa fa-arrow-circle-o-up"></i>
                                上传
                                <input type="file" id="icon">
                            </button>
                        </div>
                        <span class="help-block text-danger text-xs" ng-show="!validate.aimg">图片不能为空!</span>
                    </div>
                </div>
                <div class="form-group">
                        <div class="ueditor" ng-model="item.content" style="height: 300px;"></div>
                        <span class="help-block text-danger text-xs" ng-show="!validate.content">文章内容不能为空!</span>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success w-sm" type="button" ng-click="save()">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>