<!-- 新建模态框（Modal） -->
<script type="text/ng-template" id="modal-industry.html" />
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新建行业组</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>行业组名称</label>
                    <input type="text" class="inputName form-control" ng-model="item.name" placeholder="请输入行业组名称">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">关闭</button>
                <button type="button" class="btn btn-primary okNew" ng-click="ok()">提交</button>
            </div>
        </div><!-- /.modal-content -->
